.select-field-width {
	width: 100%;
	color: green;
	font-size: 15px;	
}

.input-field-width {
	width: 100%;
	color: green;
	font-size: 15px;	
}

.button-width {
	width: 50%;
}

span, option {
	color: green;
	font-size: 15px;
}

